<div class="flex flex-col gap-2 p-4 w-auto bg-transparent border-2 rounded-xl border-gray-400 shadow-xs">
  <p class="flex text-xl text-gray-600">ID пользователя: <%= @user.id %></p>
  <h1 class="flex text-2xl font-semibold text-gray-700">Email пользователя: <%= @user.name %></h1>
  <h1 class="flex text-2xl font-medium text-gray-600">Имя пользователя: <%= @user.email %></h1>
</div>